<% if !logged_in? %>
     	    	
    <div style="background: url('images/banner1.jpg')no-repeat center; height: 400px;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF;" class="jumbotron">
    
     
    </div>
    <div class="container">
   		<p><a class="btn btn-primary btn-lg pull-right" href="http://www.ddti.com.br" role="button">Nosso site &raquo;</a></p>
      </div>

<% else %> 
<div style="background: url('images/intro.jpg')no-repeat center; height: 400px;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF;" class="jumbotron">
    </div>
<% end %> 
 
<p>&copy; <%= @date %> - D&D Support Service - Consultoria em T.I.</p>
