<h1>Análise gráfica anual de vendas <%= image_tag 'sales_report.png' %></h1>

<div class="panel panel-default">
<div class="panel-heading" >Total recebido por mês em R$ </div>
<h5 class="panel-body">
<div id="chart-container-m"><%= @meeting_annual.render() %></div>
</h5>
</div>

<div class="panel panel-default">
<div class="panel-heading" >Total de toalhas locadas por mês </div>
<h5 class="panel-body">
<div id="chart-container-p"><%= @pack_annual.render() %></div>
</h5>
</div>
